<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eTag.back.api.mapper.UserMapper">

  <insert id="insertSelective" parameterType="com.eTag.back.api.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="licenseTime != null">
        license_time,
      </if>
      <if test="ipAddress != null">
        ip_address,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="appSecret != null">
        app_secret,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="licenseTime != null">
        #{licenseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BOOLEAN},
      </if>
      <if test="role != null">
        #{role,jdbcType=BOOLEAN},
      </if>
      <if test="appSecret != null">
        #{appSecret},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="com.eTag.back.api.pojo.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="licenseTime != null">
        license_time = #{licenseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=BOOLEAN},
      </if>
      <if test="appSecret != null">
        app_secret = #{appSecret,jdbcType=VARCHAR},
      </if>
    </set>
    <where>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER}
      </if>
    </where>

  </update>
  <update id="writeLoginInfo">
    update user
    set ip_address = #{ipAddress}, city = #{city}, last_login_time = now()
    where username = #{username}
  </update>
  <update id="changePwd">
    update user
    set password = #{password}
    where uid = #{uid}
  </update>
  <delete id="deleteByUid">
    delete from user where uid = #{uid}
  </delete>
  <select id="selectByUsername" resultType="com.eTag.back.api.pojo.User">
      select *
        from user
        where username = #{username}
    </select>
  <select id="searchUserPageHelper" resultType="com.eTag.back.api.pojo.User">
    select uid,username, last_login_time,ip_address,appid,role,app_secret,status,license_time,city
    from user
    <where>
      <if test="name != null and name != '' ">
        and username like '%${name}%'
      </if>
    </where>
  </select>
  <select id="selectAppSecretByAppid" resultType="java.lang.String">
    select app_secret from user where appid = #{appid}
  </select>
  <select id="selectAppidWithoutUser" resultType="com.eTag.back.api.pojo.User">
    select *
    from user
    <where>
      appid = #{appid}
      <if test="uid != null and uid != ''">
        and  uid != #{uid}
      </if>
    </where>
  </select>
  <select id="selectUsernameWithoutUser" resultType="com.eTag.back.api.pojo.User">
    select *
    from user
    <where>
      username = #{username}
      <if test="uid != null and uid != ''">
        and  uid != #{uid}
      </if>
    </where>
  </select>
</mapper>